.filter-product {
    margin-top: 40px;

    &__list {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__item {
        padding: 6px 30px;
        color: var(--primary-color-orange);
        border-radius: 50px;
        box-shadow: 14px 21px 47.1px 0px #fefefe;
        border: 1px solid var(--primary-color-orange);
        transition: all 0.2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &--active {
            background-color: var(--primary-color-orange);
            color: #fff;
        }
    }
    &__link {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.43;
        text-decoration: none;
    }
}

.price-filter {
    position: relative;
    display: flex;
    align-items: center;

    height: 20px;

    &__slider-track {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;

        transform: translateY(-50%);
        height: 6px;
        background-color: #e5e5e5;
        border-radius: 3px;
    }

    &__range-selected {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        background-color: var(--primary-color-orange);
        border-radius: 3px;
        z-index: 1;
    }

    &__thumb {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        z-index: 2;

        transition: opacity 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &--min {
            background-color: var(--primary-color-orange);
        }
        &--max {
            background-color: #e5e5e5;
        }
    }
}

.rating-filter {
    margin: 35px 0;

    &__item {
        display: flex;
        align-items: center;
        & + & {
            margin-top: 15px;
        }
    }

    &__count {
        color: #787777;
        font-size: 1.4rem;
        line-height: 2;
    }
}

.brand-filter {
    margin: 35px 0;

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        & + & {
            margin-top: 16px;
        }
    }
}
