.hero {
    position: relative;
    margin-top: 20px;
    background-color: #ffdbce;
    border-radius: 30px;
    min-height: 426px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content {
        margin: 0 auto;

        &-link {
            display: block;
            text-decoration: none;
        }

        &-title {
            text-align: center;
            font-size: 3.2rem;
            font-weight: 600;
            color: var(--primary-color-orange);
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &-desc {
            margin-top: 14px;
            color: var(--primary-color-orange);
            max-width: 370px;
            text-align: center;
        }
    }

    &__visuals {
        flex-basis: 55%;
        position: relative;
        min-height: 400px;
    }

    &__character {
        position: absolute;
        top: 66px;
        right: 132px;
        max-width: 345px;
        z-index: 3;
    }

    &__card-brawlha {
        position: absolute;
        top: 45px;
        right: 449px;
        min-width: 143px;
        z-index: 4;
    }
    &__card-fortnite {
        position: absolute;
        right: 19px;
        bottom: 0px;
        z-index: 4;
    }
    &__gift-red {
        position: absolute;
        right: 415px;
        bottom: 55px;
        min-height: 82px;
        z-index: 3;
    }
    &__gift-yellow {
        position: absolute;
        top: 87px;
        right: 80px;
        min-width: 105px;
        z-index: 3;
    }
}
