@use "/scss/mixins.scss";

.top-bar {
    background-color: var(--primary-color-orange);

    &__wrap {
        height: 39px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        & a {
            font-size: 1.4rem;
            color: var(--white-color);
            text-decoration: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.logo {
    max-width: 200px;
    min-height: 47px;
    line-height: 14px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.logo-bar {
    background-color: #fff4f1;
    height: 95px;
    // line-height: 95px;

    &__wrap {
        height: 100%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.search-header {
    display: flex;
    align-items: center;
    height: 42px;
    max-width: 480px;
    border-radius: 105px;
    // overflow: hidden;
    border: 1px solid #fff0ec;
    background-color: #fff;
}

.category-select {
    position: relative;
    display: inline-block;

    border-right: 1px solid #fff0ec;

    &:hover .category-select__dropdown {
        display: block;
    }

    &__trigger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 18px;
        cursor: pointer;
    }

    &__value {
        flex: 1;
        font-size: 1.4rem;
        font-family: var(--input-font-Manrope);
        color: #aeaeae;
        font-weight: 400;
    }

    &__icon {
        margin-left: 6px;
        color: #aeaeae;
        font-size: 1.3rem;
    }

    &__dropdown {
        position: absolute;

        display: none;

        padding: 19px 22px;
        top: 100%;
        left: 0;
        border-radius: 10px;

        border: 1px solid #fff0ec;
        background: #fff;
        box-shadow: 3px 8px 15.3px 0px rgba(215, 215, 215, 0.5);

        max-width: 250px;
        z-index: 10;
    }

    &__option {
        display: block;
        width: 100%;
        padding: 5px 8px;
        font-size: 1.4rem;
        color: #aeaeae;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        transition: all 0.3s ease-in-out;

        &:hover {
            color: #323232;
            background-color: #ffdbce;
            border-radius: 5px;
        }
    }

    &__option + &__option {
        margin-top: 12px;
    }
}

.search-input {
    font-family: var(--input-font-Manrope);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 15px;
    border: none;
    outline: none;
    flex: 1;
}

.search-button {
    color: #5c5c5c;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation-bar {
    background-color: var(--white-color);
    box-shadow: 0px 4.206px 11.25px 0px rgba(244, 244, 244, 0.5);

    &__inner {
        position: relative;
        // width: 100%;
        width: 1200px;
        height: 54px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navi-menu {
    display: flex;
    align-items: center;
    margin-left: -10px;

    &__item {
        color: var(--text-color-grey);
        padding: 4px 10px;

        & a {
            text-decoration: none;
        }
    }

    &__hotline {
        display: flex;
        align-items: center;
        color: var(--text-color-grey);

        & a {
            text-decoration: none;
            padding-left: 8px;
        }
    }
}

.mega-menu {
    position: absolute;
    z-index: 10;

    background-color: var(--white-color);
    padding: 40px 48px;

    display: flex;
    visibility: hidden;

    &__overlay {
        visibility: hidden;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &__sidebar {
    }

    &__link {
        color: var(--text-color-dark);
        font-family: var(--input-font-Manrope);
        font-size: 14px;
        text-decoration: none;
    }

    &__sidebar-list {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__sidebar-item {
        width: 266px;

        &--active {
            background-color: #f2f2f2;
        }
    }

    .mega-menu__sidebar-item--active .mega-menu__link i {
        color: var(--primary-color-orange);
    }

    &__sidebar-item &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        font-size: 1.8rem;
        padding: 8px 12px;

        & i {
            font-size: 1.2rem;
            color: #aeaeae;
        }
    }
}
