<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="row row-cols-4">
                <div class="col">
                    <div class="footer__column">
                        <h4 class="footer__heading">About Us</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">About us</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">News</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Support</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer__column">
                        <h4 class="footer__heading">Service</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">About us</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">News</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Support</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer__column">
                        <h4 class="footer__heading">Payment</h4>
                        <div class="footer__payment-logo">
                            <img
                                src="./img/payment/paypal.png"
                                alt="Paypal"
                                class="footer__payment-img"
                            />
                            <img
                                src="./img/payment/visa.png"
                                alt="Visa"
                                class="footer__payment-img"
                            />
                            <img
                                src="./img/payment/shb.png"
                                alt="SHB"
                                class="footer__payment-img"
                            />
                            <img
                                src="./img/payment/gpbank.png"
                                alt="GP Bank"
                                class="footer__payment-img"
                            />
                            <img
                                src="./img/payment/saigonbank.png"
                                alt="SaiGonBank"
                                class="footer__payment-img"
                            />
                            <img
                                src="./img/payment/cod.png"
                                alt="COD"
                                class="footer__payment-img"
                            />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="footer__column footer__column--last">
                        <h4 class="footer__heading">Flow Us</h4>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__social-link">
                                    <img
                                        src="./img/socials/facebook.svg"
                                        alt="Facebook"
                                        class="footer__social-img"
                                    />
                                    Facebook
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__social-link">
                                    <img
                                        src="./img/socials/linkedIn.svg"
                                        alt="LinkedIn"
                                        class="footer__social-img"
                                    />
                                    LinkedIn
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__social-link">
                                    <img
                                        src="./img/socials/instagram.svg"
                                        alt="Instagram"
                                        class="footer__social-img"
                                    />
                                    Instagram
                                </a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__social-link">
                                    <img
                                        src="./img/socials/zalo.svg"
                                        alt="Zalo"
                                        class="footer__social-img"
                                    />
                                    Zalo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="row row-cols-2">
                <div class="col">
                    <h4 class="footer__heading">COMPANY</h4>
                    <p class="footer__contact-info">
                        Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h)
                        <br />
                        Email: abcs@gmail.com
                    </p>
                </div>
                <div class="col">
                    <h4 class="footer__heading">certification</h4>
                    <div class="footer__certification">
                        <img
                            src="./img/bo-cong-thuong-01.png"
                            alt=""
                            class="footer__certification-img"
                        />
                        <img
                            src="./img/bo-cong-thuong-02.png"
                            alt=""
                            class="footer__certification-img"
                        />
                        <img
                            src="./img/dmca.png"
                            alt=""
                            class="footer__certification-img"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">
            &copy; 2024 by NapThe. All Rights Reserved.
        </p>
    </div>
</footer>
