<header class="header">
    <div class="top-bar">
        <div class="container top-bar__wrap">
            <div class="top-bar__inner">
                <div class="top-bar__left">
                    <a href="#!">Về chúng tôi</a>
                </div>
                <div class="top-bar__right">
                    <ul class="top-bar__menu">
                        <li class="top-bar__menu-item">
                            <a href="#!" class="">
                                Trung tâm hỗ trợ
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="top-bar__menu-item">
                            <a href="#!" class="">
                                ENG
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="top-bar__menu-item">
                            <a href="#!" class="">
                                <i class="fa-regular fa-circle-user"></i>
                                Tài khoản
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Logo bar -->
    <div class="logo-bar">
        <div class="container logo-bar__wrap">
            <div class="logo-bar__inner">
                <div class="logo">
                    <a href="#!"><img src="./img/logo.png" alt="Nap Tien" /></a>
                </div>
                <div class="search-header">
                    <div class="category-select">
                        <div class="category-select__trigger">
                            <span class="category-select__value">
                                All categories
                            </span>
                            <div class="category-select__icon">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="category-select__dropdown">
                            <span class="category-select__option">
                                All categories
                            </span>
                            <span class="category-select__option">
                                Category 1
                            </span>
                            <span class="category-select__option">
                                Category 2
                            </span>
                            <span class="category-select__option">
                                And One More
                            </span>
                        </div>
                    </div>
                    <input
                        type="search"
                        class="search-input"
                        placeholder="Search"
                    />
                    <button class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation-bar">
        <div class="container">
            <div class="navigation-bar__inner">
                <ul class="navi-menu">
                    <li class="navi-menu__item">
                        <a href="#!">Trang chủ</a>
                    </li>
                    <li class="navi-menu__item">
                        <a href="#!">Thẻ điện thoại</a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </li>
                    <li class="navi-menu__item">
                        <a href="#!">Nạp game</a>
                        <i class="fa-solid fa-chevron-down"></i>
                    </li>
                </ul>
                <div class="navi-menu__hotline">
                    <img src="./img/icons/icon-phone-cricle.svg" alt="" />
                    <a href="#!">Hotline: 19200 10800</a>
                </div>
            </div>
            <div class="mega-menu">
                <div class="mega-menu__sidebar">
                    <ul class="mega-menu__sidebar-list">
                        <li
                            class="mega-menu__sidebar-item mega-menu__sidebar-item--active"
                        >
                            <a href="#!" class="mega-menu__link">
                                Gift card
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="mega-menu__sidebar-item">
                            <a href="#!" class="mega-menu__link">
                                Wallet gift card
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="mega-menu__sidebar-item">
                            <a href="#!" class="mega-menu__link">
                                iTunes Gift card
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="mega-menu__sidebar-item">
                            <a href="#!" class="mega-menu__link">
                                WTFast time card
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="mega-menu__sidebar-item">
                            <a href="#!" class="mega-menu__link">
                                WTFAST
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mega-menu__content">
                    <div class="mega-menu__content-column">
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                    </div>
                    <div class="mega-menu__content-column">
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                    </div>
                    <div class="mega-menu__content-column">
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                        <a href="#!" class="mega-menu__link">IMocar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mega-menu__overlay"></div>
    </nav>
</header>
