<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <%- include('partials/head.ejs') %> %>
    </head>
    <body>
        <!-- Header Include -->
        <%- include('partials/header.ejs') %>
        <main class="container">
            <div class="main-content">
                <h1>Online Payment</h1>
            </div>
        </main>
        <!-- Footer Include -->
        <%- include('partials/footer.ejs') %>
        <script type="module" src="./main.js"></script>
    </body>
</html>
